manage-package-manager-versions=false
package-manager-strict=false
use-running-store-server=false
store-dir=.pnpm-store
cache-dir=.pnpm-cache
state-dir=.pnpm-state
global-dir=.pnpm-global
global-bin-dir=.pnpm-global\bin
pnpm-home-dir=.pnpm-home
virtual-store-dir=node_modules/.pnpm
